header
{
    padding: 1rem;
    border: 2px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    width: 80%;
    margin: 2rem auto;
    border-radius: 1rem;
}

    header h1
    {
        display: none;
    }

    header .score
    {
        background-color: #fff;
        border-radius: 0.5rem;
        padding: 1rem 2rem;
    }

        header .score label
        {
            text-transform: uppercase;
            color: var(--color-blue-700);
            text-align: center;
            margin-bottom: 0.25rem;
            display: block;
            font-weight: 500;
        }

        header .score span
        {
            font-size: 2rem;
            font-weight: 700;
            color: var(--color-navy-900);
            text-align: center;
            display: block;
        }