@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root
{
    --color-gold-500: hsl(39, 89%, 49%);
    --color-gold-600: hsl(28, 76%, 44%);

    --color-blue-500: hsl(230, 89%, 62%);
    --color-blue-700: hsl(229, 64%, 46%);

    --color-red-600: hsl(349, 71%, 52%);
    --color-red-800: hsl(347, 75%, 35%);

    --color-purple-600: hsl(261, 73%, 60%);
    --color-purple-700: hsl(261, 51%, 44%);
    
    --color-light-blue-400: hsl(189, 59%, 53%);
    --color-light-blue-500: hsl(194, 58%, 42%);

    --color-navy-900: hsl(229, 25%, 31%);
    --color-blue-700: hsl(229, 64%, 46%);
    --color-gray-600: hsl(246, 11%, 37%);

    --gradient-background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 48%, 15%));

    --font-family-primary: 'Barlow Semi Condensed', sans-serif;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body
{
    font-family: var(--font-family-primary);
    background: var(--gradient-background) no-repeat center center fixed;
}

.hidden
{
    display: none !important;
    opacity: 0 !important;
    pointer-events: none !important;
}

    .button_rules
    {
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
        text-transform: uppercase;
        background-color: transparent;
        border: 2px solid #fff;
        border-radius: 0.5rem;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-family: var(--font-family-primary);
        letter-spacing: 0.25rem;
    }