.board-wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 10rem;
    padding: 0 10%;
}

    .board-wrapper .board
    {
        position: relative;
    }

        .board-wrapper .board
        {
            @media only screen and (max-width: 900px)
            {
                width: 80%;
            }
        }

        .board-wrapper .background
        {
            width: 100%;
        }

    .choice
    {
        width: 130px;
        height: 130px;
        border: 15px solid gray;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.3s ease;
        padding: 1rem;
        background-color: #fff;
        position: absolute;

        @media only screen and (max-width: 900px)
        {
            width: 100px;
            height: 100px;
        }
    }

        .board-wrapper .choice:hover
        {
            background-color: #d3d3d3;
        }

        .choice.paper
        {
            border-color: var(--color-blue-500);
            box-shadow: 0px 5px 0 var(--color-blue-700);
        }

        .choice.scissors
        {
            border-color: var(--color-gold-500);
            box-shadow: 0px 5px 0 var(--color-gold-600);
        }

        .choice.rock
        {
            border-color: var(--color-red-600);
            box-shadow: 0px 5px 0 var(--color-red-800);
        }

        .choice.lizard
        {
            border-color: var(--color-purple-600);
            box-shadow: 0px 5px 0 var(--color-purple-700);
        }

        .choice.spock
        {
            border-color: var(--color-light-blue-400);
            box-shadow: 0px 5px 0 var(--color-light-blue-500);
        }

            .choice.pos1
            {
                top: 0;
                left: 0;
                transform: translate(-50%, -50%);
            }

            .choice.pos2
            {
                top: 0;
                right: 0;
                transform: translate(50%, -50%);
            }

            .choice.pos3
            {
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 50%);
            }

            .choice.pos4
            {
                top: 0;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            .choice.pos5
            {
                top: 40%;
                left: 0;
                transform: translate(-50%, -50%);
            }

            .choice.pos6
            {
                top: 40%;
                right: 0;
                transform: translate(50%, -50%);
            }

            .choice.pos7
            {
                bottom: 0;
                right: 80%;
                transform: translate(50%, 50%);
            }

            .choice.pos8
            {
                bottom: 0;
                right: 20%;
                transform: translate(50%, 50%);
            }

        .choice img
        {
            width: 100%;
        }


.fire-overlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../../../resources/assets/anim-fire.svg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    transition: opacity 0.5s ease;
}

    .fire-overlay.hide
    {
        opacity: 0;
        pointer-events: none;
    }